.Equipo{
    width: 100%;
    margin-top: 100px;
    
    h2{
        @include titulo;
      }

      .container{
    
        display: flex;
        justify-content: space-between;
        margin-top: 100px;

        .box{
            width: 100%;
            max-width: 280px;
            text-align: center;
            img{
                width: 100%;
                max-width: 243px;
                margin-bottom: 1.5625rem;
                
            }
            h3{
                
                color: $Blanco;
                font-size: 24px;
                margin-bottom: 1rem;
                font-weight: 400;
            }
            h4{
              
                color: $Blanco;
                font-size: 22px;
                font-weight: 400;
            }

            .skills{
                width: 100%;
                margin-top: 40px;
                p{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 13px;
                    color: $Blanco;
                    margin-bottom: 20px;
                    
                }
            }
            .redes{
                width: 100%;
                margin-top: 1rem;
                
                
                a{
                    text-decoration: none;
                    color: $Blanco;
                    font-size: 25px;
                    margin: 0 5px;
                }
            }
        }
      
    }
}