//Fuente
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

$Fuente:'Montserrat', sans-serif;

//Colores

$BGcolor:#232323;
$Blanco:#fff;
$Azul:#77bae8;