.Portafolio {
    width: 100%;
    margin-top: 150px;


    h2 {
        @include titulo;
    }

    .btnVerMas {
        display: block;
        margin: auto;
        width: 100%;
        max-width: 250px;
        height: 60px;
        font-size: 24px;
        border-radius: 1.5rem;
        background-color: $Azul;
        color: $Blanco;
        border: none;
    }

    .btnVerMas:hover {
        background-color: #5bade6;
        cursor: pointer;
    }

    .container {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .paginaCaja {
            width: 100%;
            max-width: 282px;
            text-align: center;
            margin-bottom: 7rem;

            .imagen {
                width: 100%;
                position: relative;
                overflow: hidden;

                &:hover .overlay{
                    top: 0;
                    
                 
                }
                border-radius: 25px;
                
                .overlay {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: -100%;
                    background: rgba($color: #000000, $alpha: .7);
                    border-radius: 25px;
                    transition: all 2s;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                   

                    a {
                        display: block;
                        text-decoration: none;
                        width: 100%;
                        max-width: 150px;
                        line-height: 40px;
                        height: 40px;
                        font-size: 16px;
                        border-radius: 1.5rem;
                        background-color: $Azul;
                        color: $Blanco;
                        border: none;

                        cursor: pointer;

                        &:hover{
                            background-color: #5bade6;
                        }
                    }
                }

                img {
                    width: 100%;
                    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.75);
                    border-radius: 25px;

                    &:hover{
                        cursor: pointer;
                    }
                }
            }

            // img:hover{
            //     background-color: #000000;
            //     opacity: 30%;
            //     cursor: pointer;
            //   }
            h4 {
                margin-top: 1.5rem;
                color: $Blanco;
                font-size: 22px;
                font-weight: normal;
                // text-shadow: 5px 3px 2px rgba(0,0,0,0.7);
            }
        }
    }
}