@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
.banner {
  width: 100%;
  height: 768px;
  background-image: url(../img/BG\ Header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }
  .banner .menuBurger {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #232323;
    border-radius: .5rem;
    position: absolute;
    top: 40%;
    width: 310px;
    height: 250px;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
    padding: 1.5rem 0; }
    .banner .menuBurger a {
      color: #77bae8;
      text-decoration: none;
      font-weight: 700; }
      .banner .menuBurger a:hover {
        color: #fff; }
  .banner .container .responsiveHeader {
    display: none;
    padding: 20px;
    justify-content: space-between; }
    .banner .container .responsiveHeader .btnBurger {
      border: none;
      background: none; }
      .banner .container .responsiveHeader .btnBurger i {
        font-size: 25px;
        color: #fff; }
    .banner .container .responsiveHeader .logo h1 {
      color: #fff; }
  .banner .container .menu {
    width: 100%;
    max-width: 680px;
    margin: auto;
    padding-top: 35px;
    display: flex;
    justify-content: space-between; }
    .banner .container .menu a {
      color: #fff;
      text-decoration: none;
      font-size: 18px; }
    .banner .container .menu a:hover {
      color: #5bade6; }
  .banner .container .hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }

.Servicios {
  width: 100%;
  margin-top: 150px; }
  .Servicios h2 {
    font-size: 60px;
    color: #fff;
    text-align: center; }
  .Servicios .container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px; }
    .Servicios .container .servicio {
      text-align: center;
      width: 100%;
      max-width: 200px;
      color: #fff; }
      .Servicios .container .servicio img {
        margin-bottom: 1.5rem; }
      .Servicios .container .servicio h3 {
        font-size: 24px;
        margin-bottom: 0.80rem;
        font-weight: 600; }

.Portafolio {
  width: 100%;
  margin-top: 150px; }
  .Portafolio h2 {
    font-size: 60px;
    color: #fff;
    text-align: center; }
  .Portafolio .btnVerMas {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 250px;
    height: 60px;
    font-size: 24px;
    border-radius: 1.5rem;
    background-color: #77bae8;
    color: #fff;
    border: none; }
  .Portafolio .btnVerMas:hover {
    background-color: #5bade6;
    cursor: pointer; }
  .Portafolio .container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .Portafolio .container .paginaCaja {
      width: 100%;
      max-width: 282px;
      text-align: center;
      margin-bottom: 7rem; }
      .Portafolio .container .paginaCaja .imagen {
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 25px; }
        .Portafolio .container .paginaCaja .imagen:hover .overlay {
          top: 0; }
        .Portafolio .container .paginaCaja .imagen .overlay {
          width: 100%;
          height: 100%;
          position: absolute;
          top: -100%;
          background: rgba(0, 0, 0, 0.7);
          border-radius: 25px;
          transition: all 2s;
          display: flex;
          justify-content: center;
          align-items: center; }
          .Portafolio .container .paginaCaja .imagen .overlay a {
            display: block;
            text-decoration: none;
            width: 100%;
            max-width: 150px;
            line-height: 40px;
            height: 40px;
            font-size: 16px;
            border-radius: 1.5rem;
            background-color: #77bae8;
            color: #fff;
            border: none;
            cursor: pointer; }
            .Portafolio .container .paginaCaja .imagen .overlay a:hover {
              background-color: #5bade6; }
        .Portafolio .container .paginaCaja .imagen img {
          width: 100%;
          box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.75);
          border-radius: 25px; }
          .Portafolio .container .paginaCaja .imagen img:hover {
            cursor: pointer; }
      .Portafolio .container .paginaCaja h4 {
        margin-top: 1.5rem;
        color: #fff;
        font-size: 22px;
        font-weight: normal; }

.Equipo {
  width: 100%;
  margin-top: 100px; }
  .Equipo h2 {
    font-size: 60px;
    color: #fff;
    text-align: center; }
  .Equipo .container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px; }
    .Equipo .container i:hover {
      color: #5bade6; }
    .Equipo .container .box {
      width: 100%;
      max-width: 290px;
      text-align: center; }
      .Equipo .container .box img {
        width: 100%;
        max-width: 243px;
        margin-bottom: 1.5625rem; }
      .Equipo .container .box h3 {
        color: #fff;
        font-size: 24px;
        margin-bottom: 1rem;
        font-weight: 400; }
      .Equipo .container .box h4 {
        color: #fff;
        font-size: 22px;
        font-weight: 400; }
      .Equipo .container .box .skills {
        width: 100%;
        margin-top: 40px;
        text-align: right; }
        .Equipo .container .box .skills p {
          font-size: 13px;
          color: #fff;
          margin-bottom: 20px; }
          .Equipo .container .box .skills p progress {
            margin: 0 1rem; }
      .Equipo .container .box .redes {
        width: 100%;
        margin-top: 1rem;
        text-align: center; }
        .Equipo .container .box .redes a {
          text-decoration: none;
          color: #fff;
          font-size: 25px;
          margin: 0 5px; }

.BannerContacto {
  width: 100%;
  height: 300px;
  background-color: #232323;
  background: url(../img/BG\ contact.png) no-repeat center;
  background-size: cover;
  margin-top: 200px; }
  .BannerContacto .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    .BannerContacto .container h3 {
      color: #fff;
      font-size: 60px; }
    .BannerContacto .container .btnContacto {
      width: 100%;
      max-width: 250px;
      height: 50px;
      background-color: #fff;
      font-size: 24px;
      border: none;
      border-radius: 1rem; }
    .BannerContacto .container .btnContacto:hover {
      background-color: #5bade6;
      color: white;
      cursor: pointer; }

footer {
  width: 100%;
  padding-bottom: 2rem; }
  footer .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .container i:hover {
      color: white; }
    footer .container .logo {
      margin-top: 50px;
      width: 100%;
      max-width: 378px; }
      footer .container .logo img {
        width: 100%; }
    footer .container .redes {
      margin-top: 44px; }
      footer .container .redes a {
        text-decoration: none;
        color: #77bae8;
        font-size: 25px;
        margin: 0 5px; }
    footer .container .autor {
      margin-top: 2rem;
      font-size: 18px;
      font-weight: normal;
      color: #fff; }

@media only screen and (max-width: 768px) {
  .banner {
    width: 100%;
    height: 500px; }
    .banner .container .responsiveHeader {
      display: flex; }
    .banner .container .menu {
      display: none; }
    .banner .container .hero {
      height: 400px; }
      .banner .container .hero .logo {
        width: 100%;
        max-width: 400px; }
        .banner .container .hero .logo img {
          width: 100%; }

  .Equipo .container {
    flex-direction: column;
    align-items: center;
    margin-top: 100px; }
    .Equipo .container .box {
      margin-bottom: 4rem; }
      .Equipo .container .box img {
        width: 100%;
        max-width: 200px; }
      .Equipo .container .box h3 {
        font-size: 20px; }
      .Equipo .container .box h4 {
        font-size: 18px; }
      .Equipo .container .box .skills {
        width: 100%;
        margin-top: 40px;
        text-align: center; }

  .BannerContacto {
    width: 100%;
    height: 300px;
    margin-top: 100px; }
    .BannerContacto .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly; }
      .BannerContacto .container h3 {
        text-align: center;
        color: #fff;
        font-size: 40px; } }
@media only screen and (max-width: 450px) {
  .banner {
    width: 100%;
    height: 450px; }
    .banner .container .hero {
      height: 300px; }
      .banner .container .hero .logo {
        width: 100%;
        max-width: 350px; }
        .banner .container .hero .logo img {
          width: 100%; }

  .Servicios {
    margin-top: 50px; }
    .Servicios h2 {
      font-size: 60px;
      color: #fff;
      text-align: center;
      font-size: 35px; }
    .Servicios .container {
      flex-direction: column;
      margin-top: 50px; }
      .Servicios .container .servicio {
        margin: 20px auto;
        max-width: 200px;
        color: #fff; }
        .Servicios .container .servicio h3 {
          font-size: 22px; }

  .Portafolio {
    width: 100%;
    margin-top: 80px; }
    .Portafolio h2 {
      font-size: 35px; }
    .Portafolio .btnVerMas {
      max-width: 200px;
      height: 50px;
      font-size: 20px; }
    .Portafolio .container {
      margin-top: 80px;
      flex-direction: column;
      align-items: center; }
      .Portafolio .container .paginaCaja {
        max-width: 250px;
        margin-bottom: 4rem; }
        .Portafolio .container .paginaCaja h4 {
          font-size: 18px; }

  .Equipo h2 {
    font-size: 60px;
    color: #fff;
    text-align: center;
    font-size: 35px; }
  .Equipo .container {
    margin-top: 80px; }
    .Equipo .container .box .skills {
      text-align: center; }

  .BannerContacto {
    width: 100%;
    height: 300px;
    margin-top: 50px; }
    .BannerContacto .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly; }
      .BannerContacto .container h3 {
        text-align: center;
        color: #fff;
        font-size: 30px; }
      .BannerContacto .container .btnContacto {
        max-width: 180px;
        font-size: 20px; }

  footer .container .logo {
    max-width: 250px; }
  footer .container .redes {
    margin-top: 44px; }
    footer .container .redes a {
      font-size: 20px; }
  footer .container .autor {
    text-align: center;
    font-size: 14px; } }
@media only screen and (max-width: 375px) {
  .banner {
    width: 100%;
    height: 400px; }
    .banner .container .hero .logo {
      width: 100%;
      max-width: 280px; }
      .banner .container .hero .logo img {
        width: 100%; } }
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto; }

html {
  scroll-behavior: smooth; }

body, html {
  background-color: #232323;
  font-family: "Montserrat", sans-serif;
  height: 100%; }

/*# sourceMappingURL=style.css.map */
